#################### visual studio config ####################

.vs

####################### resourse file ########################

resource

############################ out #############################

out
